
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    https://mycolor.space/?hex=%23C287BD&sub=1
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="" method="GET" class="roleForm">
                <input type="hidden" value="teacher" name="role"/>
                <input type="submit" class="studentimage" name="submit" value=""/>
            </form>

            
        </div>
        <div class="col-6">
            <a href=""><img class="imgStudent" src="images/WhiteBear.jpg"/></a>
        </div>
    </div>
</div>