/*Web app font size*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    /*Remove padding added by body for respomsiveness*/
  body {
    padding-top: 0px;
  }
}



/*Changes the size of calendar cards*/
@media (min-width: 992px) {
    .calCard {
        height: 200px;
        text-decoration: none;
        color: inherit;
    }

    .col-lg-1 {
        flex-basis: 8.333333%;
    }
}

.roundImage {
    border-radius: 50% !important;
    width: 350px;
    height: 350px;
}

.teacherCode {
    min-width: 100px !important;
}

/*TeacherScreen View cards*/
.myTeacher-card {
    padding: 0;
    margin: 0;
}

.cardToday {
    background-color: #9aed91;
}

.cardOld {
    background-color: #adadad;
}


html {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    margin-bottom: 60px;
    /*Body background colour*/
    background-color: #FFE6FF;
    /*Add padding to not cover content by navBar*/
    padding-top: 100px;
}

/*Gradient navbar colour*/
.navbarGradient {
    background-image: linear-gradient(90deg, #C287BD, #F18DB2, #FF9A9C, #FFB381, #FFD46E, #F9F871);
}

/*Clock size on teacher index view*/
.clockSize {
    font-size: 80px;
}

.noPadding{
    padding: 0px;
}

.Orange {
    background-color: rgb(255,179,129, .5);
    padding: 20px;
}

.Blue {
    background-color: rgb(0,130,189, .5);
    padding: 20px;
}

/***********BOOKEDLESSONS VIEW***********/
/*Makes the row height all the same*/
.booking-table td {
    height: 50px; /* Adjust the height value as needed */
    vertical-align: middle;
}

    /*Reduces white space in action column*/
    .booking-table td.actions {
        width: 1%;
        white-space: nowrap;
    }

/*Make the bottom line of each row bolder*/
.booking-table tbody tr {
    border-bottom: 1px solid #000;
}

/*TESTING GROUNDS*/
/*Animation test*/
@keyframes fadeIn {
    from {
        width: 350px;
        height: 350px;
    }

    to {
        width: 650px;
        height: 650px;
    }
}

.fade-in:hover {
    animation: fadeIn 1s linear;
}

.imgStudent {
    width: 100%;
    height: 100%;
}

.studentimage {
    background-image: url("../images/WhiteBear.jpg");
    border: none;
    width: 60%;
    height: 60%;
}

    .studentimage:hover {
        transition: 0.5s;
        width: 75%;
        height: 75%;
        margin-top: 25%;
        margin-left: 25%;
    }

.roleForm {
    width: 100%;
    height: 100%;
}