html {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    /* Remove padding added by body for responsiveness */
    body {
        padding-top: 0;
    }
}

/*Fads out in 1 sec (Using it to fade out javascript message on home page)*/
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.roundImage {
    border-radius: 50% !important;
    width: 350px;
    height: 350px;
}

.teacherCode {
    min-width: 100px !important;
}

/* TeacherScreen View cards */
.myTeacher-card {
    padding: 0;
    margin: 0;
}



body {
    margin-bottom: 60px;
    /* Body background color */
    background-color: #FFE6FF;
    /* Add padding to not cover content by navBar */
    padding-top: 100px;
}

/* Gradient navbar color */
.navbarGradient {
    background-image: linear-gradient(90deg, #C287BD, #F18DB2, #FF9A9C, #FFB381, #FFD46E, #F9F871);
}

/* Clock size on teacher index view */
.clockSize {
    font-size: 80px;
}

.noPadding {
    padding: 0;
}

/***********Teacher Screen backgrounds***********/
.Orange {
    background-color: rgba(255, 179, 129, 0.5);
    padding: 20px;
}

.Blue {
    background-color: rgba(0, 130, 189, 0.5);
    padding: 20px;
}

/***********Card Today / Card Old Colours***********/
.cardToday {
    background-color: #9aed91;
}

.cardOld {
    background-color: #adadad;
}

/* Changes the size of calendar cards */
@media (min-width: 992px) {
    .calCard {
        height: 180px;
        text-decoration: none;
        color: inherit;
    }

    .col-lg-1 {
        flex-basis: 14.2857143%; /* Updated to fit 7 cards */
    }
}


/***********PUBLIC INDEX VIEW CARD STYLING***********/
.number {
    font-size: 24px;
    font-weight: bold;
}

.day {
    font-size: 16px;
}

.textColour {
    color: #004F98;
}

/***********TEACHERSCREEN VIEW***********/
.myTeacher-card,
.publicTeacher-card {
    height: 100%;
}

    .myTeacher-card .card-body,
    .publicTeacher-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .myTeacher-card h5,
    .publicTeacher-card h5,
    .myTeacher-card p,
    .publicTeacher-card p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.pagination-number {
    font-size: 20px;
}

/* Disabled Previous and Back buttons */
a.disabled {
    pointer-events: none;
    color: grey;
}

/***********BOOKEDLESSONS VIEW***********/
/* Makes the row height all the same */
.booking-table td {
    height: 50px;
    vertical-align: middle;
}

    /* Reduces white space in action column */
    .booking-table td.actions {
        width: 1%;
        white-space: nowrap;
    }

/* Make the bottom line of each row bolder */
.booking-table tbody tr {
    border-bottom: 1px solid #000;
}
