<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAD.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--Navigaio bar-->
        <nav class="navbar navbarGradient fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fs-5 mb-3">
            <div class="container-fluid  mx-5">
                <a class="navbar-brand me-5" asp-area="" asp-controller="Home" asp-action="Index"><h1>SAD</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Navigation bar options-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Public Nav Options HERE-->

                        <!--Tutors Nav bar options-->
                        @if(User.IsInRole("Tutor") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Lessons</a>
                            </li>
                        }
                        <!--Students Nav bar options-->
                        @if(User.IsInRole("Student") || User.IsInRole("Admin"))
                        {

                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#f2c2f2">
        <div class="container">
            &copy; 2022 - SAD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
