@using Microsoft.AspNetCore.Identity

@inject SignInManager<CustomUserModel> SignInManager
@inject UserManager<CustomUserModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        //retriveces customUserModel so first and last name could be retrieved
        CustomUserModel customUserModel = (CustomUserModel)await UserManager.GetUserAsync(User);
        var firstName = customUserModel.FName;
        var lastName = customUserModel.SName;

    <li class="nav-item">
        <a id="manage" style="text-decoration: underline;" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @firstName @lastName</a>
    </li>
    //Changed logout button font size
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark fs-5">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
