@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Account management</h1>
<!--Hides account management options if user is either of the following accounts-->
@if (User.Identity.Name == "student@student.com" || User.Identity.Name == "tutor@tutor.com")
{
    <div class="text-danger mt-5">
        <h2>student@student.com and tutor@tutor.com cannot change user details</h2>
    </div>
}
else
{
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
