@model List<SlotModel>

<h1>@ViewBag.SelectedDate.ToString("MMMM yyyy")</h1>
<h3 class="mb-5">@ViewBag.SelectedDate.ToString("D")</h3>
<div class="row">
    @foreach (var slot in Model)
    {
        string time = slot.SlotTime.ToString("HH:mm");
        bool isAvailable = slot.IsAvailable;
        bool isOld = slot.SlotTime < DateTime.Now;

        <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mx-0">
            <div class="@slot.CardColour">
                <div class="card-body">
                    <h5 class="card-title">
                        <!--If Booken outputs text-->
                        @time @if (!isAvailable)
                        {
                            <text>(Booked)</text>
                        }
                    </h5>
                    <!--If available and not is not old date creates clickable link-->
                    @if (isAvailable && !isOld)
                    {
                        <a href="@Url.Action("BookSlot", "Public", new { timeIntervals = slot.SlotTime, tutorId = ViewBag.tutorId})" class="stretched-link"></a>
                    }
                </div>
            </div>
        </div>
    }
</div>
