@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating my-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating my-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-5">
                    <div class="checkbox form-check">
                        <label asp-for="Input.RememberMe" class="form-label mb-0">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-body">Forgot your password</a>
                </div>


                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>

                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?<a id="register" class="link-danger" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
                </form>


            <hr class="my-4">

                <button type="button" class="btn btn-link btn-floating mx-1">Google</button>
                <button type="button" class="btn btn-link btn-floating mx-1">Facebook</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
