<div class="text-center">
    <h1 class="clockSize">
        <p id="clock"></p>

        <script>
          function updateClock() {
            var now = new Date();
            var clock = document.getElementById("clock");
            clock.innerText = now.toLocaleTimeString();
          }

          setInterval(updateClock, 1000);
        </script>
    </h1>
</div>